*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(32,42,68);
    font-family: "monserrat", sans-serif; 
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    position: relative;
    left: 20px;
}
/*Ham Icon*/
.nav-icon {
    margin: 1em;
    width: 40px;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }
  .nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  
  .nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  
  .nav-icon:hover div {
    transform: scale(0);
  }
/*Nav Bar Styles*/

nav{
    position: sticky;
    z-index: 3;
    background: rgb(29,53,87);
    background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(67,105,158,0.9430147058823529) 100%);
    width: 100%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
    color: white;
    display: inline-flex;
    
}

nav ul{
    list-style: none;
    display: inline-flex;
}

nav ul li{
    padding: 30px;
    justify-content: center;
}

nav ul li:hover{
    background-color: #971b2f;
    transition: 0.5s;
    border-bottom: 5px solid #971b2f;
}
.active{
    border-bottom: 5px solid #971b2f;
}

#logo:hover{
    filter: contrast(50%);
    transition: 0.3s;
}

#logo{
    position:absolute;
    overflow:hidden;
    top:13px; 
    left:20px;
    width:70px;    
}

.hamburger{
    display: none;
}

/*Vehicle Banner styles*/

.vechileHeader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: rgb(87,106,126);
    background: linear-gradient(90deg, rgba(87,106,126,1) 33%, rgba(136,148,160,1) 100%);
    color: white;
    font-size: 40px;
    top:-10px;
}

/* CSS GRID*/

.grid-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
  }

/* Quick access styles*/
.quickAccess { 
    position: relative;
    float:left;
    top: -70px;
    width: 180px;
    height: 100%;
    padding: 10px;
    border-radius: 2px;
    background-color: #fcfcfc;
    border: solid rgb(32,42,68) 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin: 10px;
}
.quickAccess:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    }

.quickAccess h3{
    padding: 10px;
    font-size: 22px;;
}

.quickAccess ul{
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}


/*Styling for the links changing color*/
.quickAccess a::before{
  position: absolute;
  content: attr(data-content);
  color: #971b2f;
  text-decoration: underline;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 350ms ease;
}

.quickAccess a:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*Styles for the specs table*/

.specifications { 
    border-right: solid #971b2f 3px;
    
}

.specifications2{
    border-right: solid #971b2f 3px;
}
.specstable th{
    padding: 10px 0;
    text-align: left;
    font-size: 25px;
    color: rgb(32,42,68);
}

.specstable td{
    padding: 5px 0;
}

/*Return to top button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #971b2f; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: 0.3s;
  }
  #myBtn:hover {
    background-color: rgb(32,42,68); /* Add a dark-grey background on hover */
  }

  /* Image gallery styles */

.images{
    width: 100%;
    margin-top: 50px;
    display: inline-flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.card{
    height: 300px;
    width: 400px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}


/*Responsiveness*/

@media only screen and (max-width: 768px){

    .vechileHeader{
        font-size: 20px;
        height: 70px;
    }
    .card{
        width: 100%;
    }
    nav ul {
        display: none;
    }
    .hamburger{
        display: flex;
        justify-content: center;
        height: 60px;
        background: rgb(29,53,87);
        background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(67,105,158,0.9430147058823529) 100%);
    }
    .quickAccess{
        top:0;
    }

    .specifications,.specifications2{
        padding: 10px;
    }

    .bannerText{
        min-width: 100%;
    }

}

@media only screen and (max-width: 1000px){
    }
    .motorhomeRange{
        flex-direction: column;
        
 }

/* Berth Pages*/

.motorhomeRange{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #fff;
}

.vechileCard{
    min-width:350px;
    max-width: 25%;
    height: 390px;
    margin-top: 20px;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow: hidden;
    
}

.vechileCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    
}

.vechileCard h3{
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
}

.vechileCard img{
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;

}
.redText{
    color: #971b2f;
    font-weight: inherit;
    font-size: inherit;
}

.learnMore{
    position: relative;
    text-align: center;
    margin-top: 40px;
    background-color: #971b2f;
    color:white;
    width: 60%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}

.learnMore:hover{
    background-color: rgb(32,42,68);
}

/*Landing Styles*/

.banner{
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: scale-down;
    top: -4px;
}
.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bannerText{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.50);  
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px;);
    right: 5px;
    top: -0;
    max-width: 35%;
    height: 450px;
    border-radius: 5px;
    overflow: hidden;
}

.title{
    display: block;
    position: relative;
    text-align: center;
    font-size: 4vh;
}

.bannerText h2{
    text-align: center;
    padding: 10px 10px 5px 10px;
    font-size: 30px;
}

.bannerText span{
    text-align: center;
    font-weight: 300;
    font-size: 25px;
}

.bannerText hr{
    width: 80%;
    border: solid #971b2f 1px;
}

.bannerBody {
    padding: 10px 30px 0 30px;
    font-weight: 200;
    line-height: 28px;
    font-size: 18px;
}


.footer{
    height: 200px;
    width: 100%;
    background-color: rgb(32,42,68);
    margin-top: 50px;
}

.logo{
    position: relative;
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px 0 0 10px;

}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.logo img:hover{
    filter: contrast(50%);
    transition: 0.3s;
}
.links{
    position: relative;
    float: right;
    height: 100%;
    width: 300px;
    border: solid white 2px;
}

.footer{
    color:white;
}